body{
    background-color:pink;
}
main{
    text-align: center;
    
}
main .h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
main .p{
    font-size: 40px;
}
button[type=submit]{
    background: #210099;
    border: 0;
    padding: 10px 30px;
}
button[type=submit]:hover{
    background-color: pink;

}
